body { 
    margin: 0%; 
}

fieldset {
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
}

legend {
  background-color: black;
  color: white;
  padding: 3px 6px;
}

button {
    width: 150px;
    padding: 10px;
}

footer {
    position: fixed;
    text-align: center;
    padding: 5px;
    background-color: #abbaba;
    color: black;
    bottom: 0%;
    width: 100%;
}

#mainmenu {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}